@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.resumebody
{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.download
{
    position: relative;
    margin-bottom: 10px;
    margin-top:20px;
    text-align: right;
}
.download .btnpdf
{
    position: relative;
    border: #003147;
    outline: none;
    border-radius: 5px;
    background-color: #003147;
    color: #c0cad9;
    text-align: center;
    padding: 5px 8px;


}
.text
{
    text-align: justify;
     /* display:block; */
}
.resumecontainer
{
   position: relative;
   width: 100%;
   max-width: 800px;
   min-height: 1000px; 
   background: #fff;
   
   display: grid;
   grid-template-columns: 1fr 2fr;
   box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.resumecontainer .left_side
{
    position: relative;
    background: #003147;
    padding: 28px
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}
.profileText .imgbx
{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  
}
.profileText .imgbx img
{
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;

}
.profileText h4
{
    color: #fff;
    /* font-size: 1.0em; */
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h4 span
{
    font-size: 0.52em;
    font-weight: 400;
       
}
.contactInfo
{
    padding-top: 18px;
}
.name
{
font-size: 26px;
margin-bottom: -7%;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 9px;
}
.contactInfo ul
{
    position: relative;
}
.contactInfo ul li
{
    position: relative;
    list-style: none;
    margin: 5px 0;
    cursor: pointer;
}
.contactInfo ul li .icon
{
    display: inline-block;
    width: 20px;
    font-size:13px;
    color: #03a9f4;
}
.contactInfo ul li .text
{
    font-size: 13px;
    color: #fff;
    font-weight: 400;
    
}
.contactInfo.education li
{
    margin-bottom: 10px;
}

.contactInfo.education h5
{
    color: hsl(199, 98%, 48%);
    font-weight: 500;
    font-size: 13px;
}
.contactInfo.education h4:nth-child(2)
{
    color: #fff;
    font-weight: 300;

}
.contactInfo.education li h4
{
    color: #fff;
    font-weight: 200;
    font-size: 14px;

}

.contactInfo.language .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;

}
.contactInfo.strengths ul li 
{
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #fff;
    font-weight: 400;
}
.strengths ul li h5
{
    color: #fff;
    font-weight: 400;
}
.strengths ul li .fa
{
    margin-right: 5px;
}
.interest ul li
{
    list-style: none;
    color: #fff;
    font-weight: 400;
   
}
.interest ul li h5
{
    color: #fff;
    font-weight: 400;
}

.interest ul li .fa
{
    color: #03a9f4;
    font-size: 18px;
    margin-right: 5px;
}

.resumecontainer .right_side
{
    position: relative;
    background: #fff;
    padding: 30px;
    margin-top: 10px;
}

.about
{
    margin-bottom: 7px;
}
.about .box .text li
{
    font-size: 12px;
}
.summary
{
    font-size: 12px;
    font-weight:normal;
    text-align: justify;
    display: block;
}
.about:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 1px;
    font-size: 16px;
    
}
p
{
    color: #333;
    font-weight: 300;
}


.about .box .project
{
    min-width: 200px;
}
.about .box .project h4
{
    color: #848c99;
    font-weight: 500;
    font-size: 14px;
}
.about .box .project h4 .icon
{
    display: inline-block;
    width: 6px;
    font-size:9px;
    color: #848c99;
    margin-left: 3px;
    /* margin-bottom: 1px; */
}
.company
{
    display: inline-block;
    /* font-weight: 500; */
    color: hsl(199, 98%, 48%);
    font-size:14px;
}
.about .box .project h4 span
{
   
    font-weight: 500;
    font-size:10px;
    color: hsl(199, 98%, 48%);
    
}
.about .box .text h5
{
    color: #333;
    font-weight: 400;
    margin-bottom: 13px;
}
.about .box .text h5 ul
{ 
    list-style-type: none;
    padding-left: 1px;
}
.about .box .text h5 ul .circle
{
    margin-right: 6px;
    font-size: 15px;

}
.about .box .text h5 ul .icon
{
    width: 4px;
    font-size:8px;
    color: #333;
    margin-left: 3px;
    margin-inline-end: 10px;
}
.skills .rect
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 1px;
    justify-content: space-between;
    align-items: center;
}
.skills .rect h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 400;
    /* margin-right: 10px; */
}
.skills .rect h4 .btn
{
    
    border: 1px solid #b0b5bd;
    background-color: inherit;
    text-align: left;
    color: #fff;
    padding: 4px 6px;
    cursor: pointer;
    display: inline;
    /* margin: 2px 0px; */
    font-size: 13px;
}

.certificate ul li
{
    list-style: none;
    color: #333;
    font-weight: 400;
    margin: 0px 0;
}
.certificate ul li h5
{
    font-weight: 400;
    line-height: normal;
}
.certificate h5 ul .circle
{
    margin-right: 6px;
    font-size: 15px;


}
.certificate h5 ul .icon
{
    width: 3px;
    font-size:8px;
    color: #333;
    margin-left: 3px;
    margin-inline-end: 10px;
}







.footer-dark {
    margin-top: 10px;
    padding:20px 0;
    color:#f0f9ff;
    background-color:#003147;
  }
  
  .footer-dark .text {
    padding:0 15px;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
    border-left: 3px solid #eeeeee;
    padding-left: 10px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul li{
    padding: 0 0 .2em 1.0em; 
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:1.0;  
    font-size:16px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  
  .footer-dark ul.social li{
    padding: 3px 0;
  }
  .footer-dark ul.social li a i {
      margin-right: 5px;
    font-size:25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
  }
  .footer-dark ul.social li:hover a i {
    font-size:30px;
    margin-top:-10px;
  }
  .footer-dark ul.social li a{
    color:#ffffff;
  }
  .footer-dark ul.social li a:hover{
    color:#eeeeee;
  }
  
  @media (max-width:100%) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:100%) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:100%) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
